ul{
    list-style: none;
}

body{
    font-family: source sans pro,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

.them-blue{
    color: #617eff;
}

.them-blue-text{
    color: cornflowerblue;
}

.cover{
    object-fit: cover;
}

.handel-alert{
    position: fixed!important;
    bottom: 0!important;
    left: 12px!important;
}

button{
    margin: 0!important;
}